
.intro__item1 {
    font-weight: 100;

}

.intro__name {
    font-family: "Smooch", cursive;
    font-weight: 700;
    font-style: normal;
}

.intro__item2 {
        
        font-weight: 900;
        
}

/* .intro__country {
    font-family: "Smooch", cursive;
    font-weight: 700;
    font-style: normal;
} */